################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestApp
/TestApp.DI/bin/Debug/netcoreapp2.1
/TestApp.DI/obj
/TestApp.Domain/bin/Debug/netcoreapp2.1
/TestApp.Domain/obj
/TestApp.Interfaces/bin/Debug/netcoreapp2.1
/TestApp.Interfaces/obj
/TestApp.Model/bin/Debug/netcoreapp2.1
/TestApp.Model/obj
/TestApp.Services/bin/Debug/netcoreapp2.1
/TestApp.Services/obj
/TestApp.Services.Tests/bin/Debug/netcoreapp2.1
/TestApp.Services.Tests/obj
/TestApp.UI.Console/bin/Debug/netcoreapp2.1
/TestApp.UI.Console/obj
/TestApp.UI.Console.Interfaces/bin/Debug/netcoreapp2.1
/TestApp.UI.Console.Interfaces/obj
/TestApp.UI.Console.Services/bin/Debug/netcoreapp2.1
/TestApp.UI.Console.Services/obj
/TestApp.UI.Console.Services.Tests/bin/Debug/netcoreapp2.1
/TestApp.UI.Console.Services.Tests/obj
/TestApp.DI/bin/Release/netcoreapp2.1
/TestApp.Domain/bin/Release/netcoreapp2.1
/TestApp.Interfaces/bin/Release/netcoreapp2.1
/TestApp.Model/bin/Release/netcoreapp2.1
/TestApp.Services/bin/Release/netcoreapp2.1
/TestApp.UI.Console/bin/Release/netcoreapp2.1
/TestApp.UI.Console.Interfaces/bin/Release/netcoreapp2.1
/TestApp.UI.Console.Services/bin/Release/netcoreapp2.1
/.vs/config
